h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6,
.display-1 {
  @apply font-black mb-1;
  line-height: 1.25 !important;
  font-family: "Barlow", sans-serif !important;
}

.display-1 {
    @apply text-[44px] md:text-[55px] lg:text-6xl;
  }
  
  .display-2 {
    @apply text-[28px] md:text-[44px] lg:text-[52px];
  }
 
h1,
.h1 {
  @apply text-[34px] md:text-[44px];
}

h2,
.h2 {
  @apply text-3xl md:text-[36px];
}

h3,
.h3 {
  @apply text-2xl md:text-3xl;
}

h4,
.h4 {
  @apply text-lg md:text-2xl;
}

h5,
.h5 {
  @apply text-[16px] md:text-[20px];
}

h6,
.h6 {
  @apply text-sm md:text-base;
}

a {
  @apply text-textColor hover:text-primary-dark inline-block transition-all font-medium;
}

p {
  @apply mb-3;
  letter-spacing: 0.005em;
  line-height: 1.6 !important;
}
